{% extends 'shows/base.html' %}

{% block content %}
<div class="cf pa2">
  {% for show in shows %}
  <div class="fl w-50 w-25-m w-20-l pa2">
    <a class="db center mw5 black link dim" title="View episode data for {{ show.name }}" href="{{ show.slug }}">
      <img class="db ba b--black-10" alt="Poster for {{ show.name }}" src="{{ show.poster }}" />
      <dl class="mt2 f6 lh-copy">
        <dt class="clip">Show Title</dt>
        <dd class="ml0 fw9">{{ show.name }} {% if show.seen %}✔{% endif %}</dd>
        <dt class="clip">Show Season Count</dt>
        <dd class="ml0 gray">
          {{ show.get_status_display }}
        </dd>
      </dl>
    </a>
  </div>
  {% empty %}
  <h1>You haven't added any shows yet</h1>
  {% endfor %}
</div>
{% endblock %}